POSTGRES_DB=arremataflow
POSTGRES_USER=arremataflow_app
POSTGRES_PASSWORD=replace-with-a-long-random-local-password
APP_PORT=8081
APP_PUBLIC_URL=http://127.0.0.1:8081
MAILPIT_WEB_PORT=8025
MAILPIT_SMTP_PORT=1025
